.specific-page-container {
  background-image: url('./images/b2.jpg'); /* Path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-post-container {
  max-width:50%;
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-post-heading {
  background-color: teal;
  color: white;
  padding: 12px;
  border-radius: 4px 4px 0 0;
  font-size: 25px;
  text-align: center;
  width: calc(100% + 40px); /* Adjust width to fit the container */
  margin: -20px -20px 20px -20px; /* Move the heading to fit within the container */
}


.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-group textarea {
  height: 150px;
  resize: vertical;
}

button {
  display: block;
  width: 30%;
  padding: 10px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
  color: black;
}
