.login-container {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100vh;
  background-image: url('./images/reg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

.login-box {
  left: -50px;
  position: relative;
  width: 100%;
  max-width: 400px;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 2;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.options {
  margin-top: 1rem;
  text-align: center;
}

.options a {
  margin: 0 0.5rem;
  color: #007bff;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}
